html,
body {
  height: 100%;
  background: #353a47;
}

.header {
  align-content: center;
  text-align: center;
  margin: 10px 0px 10px 0px;
}

.header > a {
  margin: 0px 8px 0 8px;
  color: rgb(231, 231, 231);
}

.header > i {
  margin: 0px 8px 0 8px;
  color: rgb(231, 231, 231);
}

.header i:hover {
  margin: 0px 8px 0 8px;
  color: rgb(206, 206, 206);
}

.notify {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 0;
  box-sizing: border-box;
  color: rgb(233, 233, 233);
  text-align: center;
  background: #505666;
  overflow: hidden;
  box-sizing: border-box;
  transition: height 0.2s;
}

#notifyType:before {
  display: block;
  margin-top: 15px;
}

.active {
  height: 50px;
}

.success:before {
  font-size: 20px;
  content: "Stocakge re-monté avec succès!";
}

.failure:before {
  font-size: 20px;
  content: "Mince! Quelque chose n'a pas fonctionné.. :(";
}

/* UNUSED*/
#drag-drop-area {
  width: 100%;
  height: 100%;
  font-size: 50px;
}

#drop-area {
  width: 75%;
  height: 75%;
  font-family: sans-serif;
  margin: 100px auto;
  padding: 20px;
  background-color: #c8dadf;
  outline: 2px dashed #92b0b3;
  outline-offset: -10px;
}
#drop-area.highlight {
  outline-color: rgb(46, 46, 46);
}
p {
  margin-top: 0;
}
.my-form {
  margin-bottom: 10px;
}
#gallery {
  margin-top: 10px;
}
#gallery img {
  width: 150px;
  margin-bottom: 10px;
  margin-right: 10px;
  vertical-align: middle;
}

.deleteMode {
  background-color: #87898a;
  padding: 5px;
  opacity: 1;
}

.deleteMode.selected {
  opacity: 0.5;
}

.button-upload {
  display: none;
  padding: 10px;
  background: #92b0b3;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #92b0b3;
  width: 33%;
  margin-left: 33%;
  margin-right: 33%;
  text-align: center;
}
.button-upload:hover {
  background: #ddd;
}
#fileElem {
  display: none;
}
#progress-bar {
  width: 100%;
  display: none;
  /* Reset the default appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 20px;
}

#progress::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

.box__icon {
  width: 100%;
  height: 80px;
  fill: #92b0b3;
  display: block;
  margin-top: 40px;
  margin-bottom: 40px;
}
svg:not(:root) {
  overflow: hidden;
}

.file_chooser {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
}

.file_chooser:hover {
  color: #21757c;
}

#upload-history {
  list-style: inside square;
  font-size: 20px;
  background: white;
  width: 500px;
  margin: auto;
  padding: 0;
  box-shadow: 0 0 0 5px #bebebe;
  display: none;
}

#upload-history li {
  border-bottom: 1px solid #efefef;
  padding: 20px;
}

.trash-transparent {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  margin: 0 0 3px 6px;
  vertical-align: middle;
  display: none;
}

.trash-transparent:hover {
  background-color: lightgrey;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  border-radius: 5px;
}
